{% extends 'base.html.twig' %}

{% block title %}Hello TestApiController!{% endblock %}

{% block body %}
    {% for account in account_list %}
            <p><a href="{{ path('test_save_account', {accountid:account.id}) }}">{{ account.name }}</a></p>
    {% endfor %}
{% endblock %}
