{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation{% endblock %}

{% block page_title %}Email de réinitialisation envoyé !{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Récupération de mot de passe</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <p class="text-muted">Un email contenant un lien de réinitialisation vous a été envoyé. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
                    <p class="text-muted">Si vous n'avez pas reçu de mail vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}