{% extends 'base.html.twig' %}

{% block title %}Synchronisation du compte bancaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-light">Synchronisation du compte de votre SCM - Etape 2/2</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <p class="mb-10">Félicitation, vous êtes à une pas de terminer la synchronisation de votre compte bancaire !</p>
                        <p class="mb-10">Veuillez choisir le compte qui s'occupe de la comptabilité de votre SCM et forseti s'occupe du reste :</p>
                        <div class="treeview" id="treeview_account"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_specifique %}
    {# Bootstrap treeview #}
    {{ encore_entry_script_tags('grandin_bootstrap_treeview') }}
    <script type="application/javascript">

        $(document).ready(function($){
            "use strict";
            var accountJson = $.parseJSON(JSON.stringify({{ account_list | raw }}));

            $('#treeview_account').treeview({
                enableLinks: true,
                data: accountJson
            });
        });

    </script>
{% endblock %}
